<mat-card>

  <mat-card *ngFor="let t of albumList; let i=index">
    <mat-card-header>{{t.AlbumName}}</mat-card-header>
    <mat-card-header>{{t.Artist}}</mat-card-header>
    <mat-card-header>{{t.AlbumCover}}</mat-card-header>
    <!-- <mat-toolbar color="primary">
        <img src="/assets/Headphone.png" class="gambar">
      <span>My LP Collection</span>
  </mat-toolbar> -->

    <!-- <mat-card-content>
      <p>{{t.Priority}}</p>
    </mat-card-content> -->

  </mat-card>
</mat-card>

    
<mat-card>
    <img src="/assets/Abbey.jpg" class="gambar">
  Abbey Road <br>





